body {
    text-align: center;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  position: relative;
  font-family: monospace;
}

.modal-content h1{
  margin-top: 50px;
}

.btn {
  margin-top: 35px;
  font-size: 20px;
  background-color: #0AC8BB;
  border-radius: 25px;
  border: none;
  padding: 12px;
  color: white;
  cursor: pointer;
}

.close {
  font-size: 30px;
  font-weight: bold;
  padding-right: 10px;
  float: right;
}

.close:hover {
  cursor: pointer;
  color: #0AC8BB;
}
